/* reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/* general */

.flex{
    display: flex;
}

/* ------------------------------------------------------------- */

/* top section */

.top-section{
    height: 60px;
    text-align: right;
    background-color: black;
   
    /* debug */
    /* background-color: aqua; */
    /* border: 1px solid black; */
}

.top-section button{
    color: white;
    background-color: grey;
    border: none;
    padding: 3px;
    border-radius: 5px;

}


 /* -----------------------------------------------------------   */


/* main section */

.main-section{
    background-color: black;
    height: calc(100vh - 140px) ;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    /* debug */
    /* border: 1px solid black; */
}


.utente{
    height: 100px;
    width: 200px;
    margin: 0 5px 15px;
    background-image:url(https://picsum.photos/200/100) ;
    background-size: cover;
    position:relative
}

.nome{
    position: absolute;
    bottom:0;
    left:0;
    background-color:grey;
    color:white;
    padding: 3px;

}



/* -------------------------------------------------------------- */

/* bottom section */

.bottom-section{ 
    height:80px;

    /* debug */
    background-color: chartreuse;
    border: 1px solid black
}

